.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	background-color: var(--blue);
}

.logoContainer img { width: 60vh; }

.loginContainer h1 {
	margin-top: 2.5rem;
	color: var(--white);
}

.info {
	display: flex;
	margin-top: 2.5rem;
	align-items: center;
}

.info img { margin-right: 10px; }

.info p {
	font-size: 1rem;
	color: var(--white);
}

.wrapperInput {
	display: flex;
	align-items: flex-end;
}

.wrapperInput input {
	width: 330px;
	height: 4rem;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	background-color: var(--blue-dark);
	border: 0;
	padding-left: 15px;
	margin-top: 1.5rem;
	color: var(--white);
}

.wrapperInput input::placeholder {
	color: var(--white);
	text-align: 10px;
}

.wrapperInput input::-webkit-input-placeholder {
	color: var(--white);
	text-align: 10px;
}

.wrapperInput input:-ms-input-placeholder {
	color: var(--white);
	text-align: 10px;
}

.wrapperInput button {
	width: 80px;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--green);
	border: 0;
	transition: all 0.4s;
}

.wrapperInput button:hover { background-color: var(--light-green); }

.link {
	color: var(--white);
	text-decoration: underline;
	padding-left: 10px;
}

.link:hover {
	text-decoration: none;
}
